<!DOCTYPE html>
<html>
<head>
	<title>NSFW-Profanity filter</title>
</head>
<body >

<h1 style = "text-align: center">Sample page to check the working of the NSFW-profanity filter extension</h1>

<h2>This is some non - profane text</h2>
<p>This extension is created by Neel, Anchit and Kunal.</p>

<h2>This is profane text </h2>
<p>This is fucking shit. I will kill you bitch<p/>

<h2>Some more profane text example</h2>
<p>Fuck you bitch</p>
<p>You cunt</p>

<table>
	<tr>
		<td><img src="static/nsfw1.jpeg"/></td>
		<td><img src="static/nsfw2.jpeg"/></td>
	</tr>
	<tr>
		<td><img src="static/sfw1.jpeg"/></td>
		<td><img src="static/sfw2.jpeg"/></td>
	</tr>
</table>

</body>
</html>